.contenido-nosotros {
    .imagen {
        float: left;
        margin-right: 20px;
        width: 300px; /* Ajusta el tamaño de la imagen según sea necesario */
    }

    .texto-nosotros {
        overflow: hidden;
    }

    @include tablet {
        .imagen {
            width: 100%; /* Ajusta el tamaño de la imagen en pantallas más pequeñas */
            float: none;
            margin-right: 0;
        }

        .texto-nosotros {
            overflow: visible;
        }
    }
}

.texto-nosotros blockquote {
    font-weight: $black;
    font-size: 2.2rem;
    margin: 3rem 0 0 0;
    padding-left: 1rem 0 3rem 0;
}